[submodule "modules/USTSIPIN02"]
	path = modules/USTSIPIN02
	url = git@github.com:ust-modules/USTSIPIN02.git
[submodule "fw/LABDOS_MAVLINK/src/c_library_v2"]
	path = fw/LABDOS_MAVLINK/src/c_library_v2
	url = git@github.com:mavlink/c_library_v2.git
